<nav class="navbar bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img [src]="'assets/image/logo.png'" width="250px" alt="antioquia" />
    </a>
  </div>
</nav>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center col-12">
      <p class="text-center">Seleccione el municipio del cual va a comprar un certificado.</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-3 col-lg-3">
        <div class="form-floating">
          <select class="form-select" id="municipios" aria-label="Municipios" (change)="consultarMunicipios(municipios.value)" #municipios>
            <option value="" disabled selected="selected">Elija una opción</option>
            <option *ngFor="let municipio of listaMunicipios" [value]="municipio.idMunicipio">{{ municipio.nombre }}</option>
          </select>
          <label for="municipios">Municipios</label>
        </div>
      </div>
    </div>
  </div>
</div>
